.profile-container{
    display: inline-block;
    align-items: center;
    padding: 50px 50px;
    text-align: center;
    background-color: aqua;
    margin-left: 50px;
    flex-grow: 1;
    

}

.page-container{
    display: flex;
    flex-direction: column;
    height: 50%;
    text-align: center;
}

.section{
    flex-grow: 1;
    border: 1px solid bisque;
    padding: 20px;
}
.edit{
    text-align: end;
}

.form-label{
    display: block;
    padding-bottom: 5px;
    font-size: 22px;
    text-align: start;
    padding-top: 5px;
}
.form-input{
    border-color:black solid;
    border-radius: 5px;
    font-size: 22px;
    padding-bottom: 10px;
    width: 400px;
}
button{
    padding: 5px;
    border-top: 5px;
    border-bottom: 5px;
    width: 150px;
    background-color: darkgray;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    margin-top: 10px;
    
}
.form-button{
    padding-top: 10px;
    padding-bottom: 20px;
}
.select{
    height: 10%;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border-radius: 10px;
}
.image{
    height: 30%;
    width: 20%;
}